<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>B2b Digital Marketing Agency | Internet Marketing Services</title>
  <meta name="description" content="Trusted B2b Digital Marketing Agency serving since 2014. We offer results oriented B2B internet Marketing Services. Hire ITVowel for Digital growth." />
  <!-- Change search console code -->	
  <meta name="google-site-verification" content="AGyWTxYORtpuZsyfynWY7LDuz5miF00Wid0u0uSFne4" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/hero.css">
<script src="script.js"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-78332KC7JP"></script>

<footer class="footer-section">
<div class="container">
<div class="row">

<!-- About -->
<div class="col-lg-3 col-md-6 mb-4">

<h6 class="footer-head">Creative Digital Agency</h6>

<div class="logo mb-3">
<a href="../index.html">
<img src="../images/logo-removebg-preview.png" alt="logo" alt="IT Vowel Logo">
</a>
</div>

<p class="footer-desc">
Feel free to reach out if you want to collaborate with us, or simply have a call.
</p>

</div>


<!-- Company Details -->
<div class="col-lg-3 col-md-6 mb-4">

<h6 class="footer-head">Company Details</h6>

<ul class="footer-links">

<li>
<strong>Address</strong><br>
Unit 15, 6th Floor<br>
Shushma Infinium, Zirakpur 140603
</li>

<li>
<strong>Email</strong><br>
info@itvowel.com
</li>

<li>
<strong>Phone Number</strong><br>
+91 8295161177
</li>

</ul>

</div>


<!-- Development Services -->
<div class="col-lg-3 col-md-6 mb-4">

<h6 class="footer-head">Development Services</h6>

<ul class="footer-links">

<li><a href="web-development.html">Web Development</a></li>

<li><a href="basic-website-development.html">Basic Website Development</a></li>

<li><a href="single-page-website-development.html">Single Page Website Development</a></li>

<li><a href="wordpress-website-development.html">WordPress Website Development</a></li>

<li><a href="website-revamping.html">Website Revamping</a></li>

<li><a href="custom-website-development.html">Custom Website Development</a></li>

<li><a href="custom-web-software-development.html">Custom Web Software Development</a></li>

<li><a href="ecommerce-services.html">e-Commerce Services</a></li>

<li><a href="ecommerce-development.html">e-Commerce Development</a></li>

<li><a href="ecommerce-marketing.html">e-Commerce Marketing</a></li>

<li><a href="catalog-management.html">Catalog Management</a></li>

</ul>

</div>


<!-- Marketing Services -->
<div class="col-lg-3 col-md-6 mb-4">

<h6 class="footer-head">Marketing Services</h6>

<ul class="footer-links">

<li><a href="digital-marketing-services.html">Digital Marketing Services</a></li>

<li><a href="seo-services.html">SEO Services</a></li>

<li><a href="local-seo.html">Local SEO</a></li>

<li><a href="ppc-services.html">PPC</a></li>

<li><a href="content-marketing.html">Content Marketing</a></li>

<li><a href="video-marketing.html">Video Marketing</a></li>

<li><a href="online-reputation-management.html">Online Reputation Management</a></li>

<li><a href="smm-services.html">SMM</a></li>

<li><a href="email-marketing.html">Email Marketing</a></li>

<li><a href="white-label-services.html">White Label</a></li>

<li><a href="content-writing.html">Content Writing</a></li>

</ul>

</div>

</div>

<div class="footer-bottom">

<div class="copyright">
© 2026 All Rights Reserved By IT Vowel
</div>

<div class="social-icons">
<a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
<a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
<a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
</div>

</div>

</div>
</footer>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>